<table cellspacing="2" cellpadding="0" width="600" border="0" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td width="100%" align="left">
        <font face="Arial, Verdana, sans-serif" size="2" style="font-size:13px;">
          <font color="#951F60">
            <strong>{{firstname}} {{lastname}}</strong>
          </font>
          <br>
          <font color="#68696b">{{jobtitle}}</font>
          <br>
          <a style="text-decoration:none;" href="mailto:{{email}}">
            <font color="#68696b" style="text-decoration:none;">{{email}}</font>
          </a>
          <br>
          <font color="#68696b">Tel. {{telephone}}</font><br>
          <font color="#68696b">Fax. {{fax}}</font>
        </font>
      </td>
    </tr>
  <tr>
    <td align="left">
      <img width="600" vspace="10" height="130" alt="gofeminin.de" src="http://i.onmeda.de/style/signature-koeln-2014.gif">
    </td>
  </tr>
  <tr>
    <td>
      <a target="_blank" href="http://www.gofeminin.de">
        <img width="600" height="60" border="0" src="http://www.gofeminin.de/reloaded/emailSignature.gif">
      </a>
    </td>
  </tr>
  <tr>
    <td width="100%" align="left">
      <table cellspacing="0" cellpadding="5" width="1" border="0" bgcolor="#ffffff">
        <tbody>
          <tr>
            <td>
              <a target="_blank" href="https://www.facebook.com/goFeminin">
                <img width="30" height="30" border="0" alt="Facebook" src="http://www.gofeminin.de/mailing/signature-af/facebook.png">
              </a>
            </td>
            <td>
              <a target="_blank" href="https://twitter.com/gofeminin_de">
                <img width="30" height="30" border="0" alt="Twitter" src="http://www.gofeminin.de/mailing/signature-af/twitter.png">
              </a>
            </td>
            <td>
              <a target="_blank" href="https://plus.google.com/+gofeminin/">
                <img width="30" height="30" border="0" alt="Google Plus" src="http://www.gofeminin.de/mailing/signature-af/google.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
